@font-face {
  font-family: Manverse;
  src: url("/fonts/ManverseNormal.ttf");
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
body {
  background: linear-gradient(90deg, #152331 0%, #000000 100%);
  font-family: Manverse, sans-serif;
  overflow: hidden;
}
body #article1 {
  height: 100vh;
}
body #content img:first-child {
  position: absolute;
  right: -5%;
  width: 85%;
}
body #content .bigFont,
body #content .borderFont {
  font-size: 100px;
  line-height: 87px;
  letter-spacing: 0.195em;
  color: white;
  position: absolute;
  top: 40%;
  right: 40%;
  text-align: right;
}
body #content .bigFont div,
body #content .borderFont div {
  margin-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
body #content .bigFont div:first-child,
body #content .borderFont div:first-child {
  margin-left: 8%;
  padding-left: 5%;
  border-left: 11px solid #51E8EF;
}
body #content .borderFont {
  top: 55%;
  right: 55%;
  -webkit-text-stroke-color: #1E2832;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  z-index: -1;
}
body #content .borderFont div {
  font-family: sans-serif;
}
body #content .borderFont div:first-child {
  border-left: none;
}
body #content #rightBubble {
  position: absolute;
  right: -16%;
  top: 18%;
  width: 60%;
}
body #content #leftBubble {
  position: absolute;
  left: -18%;
  top: -15%;
  width: 37%;
  z-index: -1;
  filter: blur(5px);
}
body #content #circleText {
  position: absolute;
  left: -10%;
  top: 24%;
  z-index: -2;
  width: 28%;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5%;
  width: 100vw;
}
.header.fix {
  position: fixed;
  width: 100vw;
}
.header img:nth-child(2) {
  margin-right: 35%;
  margin-left: 45%;
}
.header img:first-child {
  margin-left: 1.5%;
  cursor: pointer;
}
.buttonHeader {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.195em;
  padding: 12px 25px;
  border: 2px solid #51E8EF;
  cursor: pointer;
  transition: 0.4s;
}
.buttonHeader:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
.footer {
  position: relative;
  top: 80%;
  display: flex;
  flex-direction: row;
}
.footer .buttonHeader {
  font-size: 20px;
  line-height: 17px;
  letter-spacing: 0.195em;
  margin-right: 0;
  padding: 15px 65px;
  position: absolute;
  left: 38%;
}
.footer .text {
  transform: rotate(90deg);
  color: white;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.195em;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: -1%;
}
#article2 {
  height: 100vh;
  position: relative;
}
#article2 #centerBubble {
  position: relative;
  width: 100%;
  bottom: -100%;
  left: 3%;
  z-index: -1;
}
#article2 #centerBubble.rotation {
  transition: 2s;
  transform: rotate(-150deg);
  bottom: 150%;
}
#article2 #centerBubble.rotationLeft {
  transition: 3s;
  left: -100%;
  transform: rotate(160deg);
}
#article2 #nftImg {
  position: absolute;
  height: 70%;
  right: 0;
  opacity: 0;
  top: -80%;
}
#article2 #smart {
  position: absolute;
  height: 8%;
  top: 50%;
  opacity: 0;
  right: 0;
}
#article2 #future {
  position: absolute;
  height: 8%;
  top: 64%;
  opacity: 0;
  right: 47%;
}
#article2 #new {
  position: absolute;
  height: 8%;
  top: 76%;
  opacity: 0;
  right: -5%;
}
#article2 #trends {
  position: absolute;
  height: 8%;
  top: 88%;
  opacity: 0;
  right: 49%;
}
#article2 #seditioText {
  position: absolute;
  top: -30%;
  left: 8%;
  height: 10%;
  opacity: 0;
}
#article2 #text {
  position: absolute;
  top: -30%;
  left: 9%;
  height: 6%;
  opacity: 0;
}
#article2 #line {
  position: absolute;
  top: -30%;
  left: 8%;
  height: 10%;
  opacity: 0;
}
#article2 #readMore {
  position: absolute;
  top: -30%;
  left: 9%;
  height: 2%;
  cursor: pointer;
  opacity: 0;
}
#article2 #mainDirections {
  position: absolute;
  width: 70%;
  height: 25%;
  top: 25%;
  right: 1%;
  opacity: 0;
}
#article2 #bigBubble {
  position: absolute;
  top: -55%;
  left: 100%;
  width: 125%;
  z-index: -1;
}
#article2 #bigBubble.rotation {
  transition: 2s;
  transform: rotate(150deg);
  left: 35%;
}
#article2 #photoBlock1 {
  left: 15%;
}
#article2 #photoBlock2,
#article2 #photoBlock3 {
  left: 40%;
}
#article2 #photoBlock2 .textInBlock,
#article2 #photoBlock3 .textInBlock {
  top: 38%;
}
#article2 #photoBlock2 .line,
#article2 #photoBlock3 .line {
  top: 70%;
}
#article2 #photoBlock3 {
  left: 65%;
}
#article2 .photoBlock {
  position: absolute;
  top: 10%;
  backdrop-filter: blur(37px);
  width: 23%;
  height: 34%;
  text-align: center;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
}
#article2 .photoBlock .textInBlock {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: 0.09em;
  color: white;
  position: relative;
  top: 42%;
}
#article2 .photoBlock .line {
  position: relative;
  top: 80%;
  max-width: 57%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  border-bottom: 5px solid white;
}
/*# sourceMappingURL=mainPage.css.map */